<!--polymer library-->

<link rel="import" href="bower_components/polymer/polymer.html">


<!--paper element-->
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">

<!--iron element-->
<link rel="import" href="bower_components/iron-collapse/iron-collapse.html">


<dom-module id="munna-item">

  <template>
    <style>
      /* CSS rules for your element */
      /*paper-scroll-header-panel{
        height: 300px;
        width: inherit;
      }*/
      .collapse-content {
        max-height: 300px;
      }
    </style>

    <!-- local DOM for your element -->
    <div>
      <paper-toolbar on-click="toggle">
        <div class="title">{{header}}</div>
      </paper-toolbar>
      <div>
        <iron-collapse id="collapse">
          <div class="collapse-content">
            <content></content>
          </div>
        </iron-collapse>
      </div>
  </template>

  <script>
    // element registration
    Polymer({
      is: "munna-item",
      toggle: function() {
        this.$.collapse.toggle();
      }
      // add properties and methods on the element's prototype
    });
  </script>

</dom-module>
