<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Draggable - Default functionality</title>
  <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/jquery-ui-1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.css">
  <link rel="import" href="munna-module.html">
  <link rel="import" href="munna-item.html">
  <style>
    .contianer {
      width: 150px;
      height: 150px;
      border-style: solid;
      resize: both;
      overflow: auto;
    }
    input{
      width: inherit;
    }
  </style>
  <script>
  var x=0;
  $(function() {
    $( ".contianer" ).draggable();
  });
  </script>
</head>
<body>
  <div class="contianer" draggable="true">
      <div>
        <div class="login">
          <p><b>Login</b></p>
          <div class="username">
            User: <input type="text" name="user">
          </div>
          <div class="pass">
            Password: <input type="password" name="pass">
          </div>
          <div class="submit">
            <button type="button" name="btlogin">login</button>
            <button type="button" name="btsignin">signin</button>
          </div>
        </div>
    </div>
  </div>
  <div class="contianer" draggable="true">
    <munna-item header = "Template"></munna-item>
  </div>
  <div>
    <munna-item header = "Template"></munna-item>
  </div>

  <button id="add" type="button" name="button">click</button>

</body>
</html>
